{% extends 'base.html' %}
{% load static %}


{% block content %}

{% include 'header.html' %}

{% include 'categories.html' %}
 <!-- ====== ABOUT US SECTION -->

<section id="about_id"
   class="overflow-hidden pt-20 pb-12 lg:pt-[120px] lg:pb-[90px] bg-white dark:bg-dark"
   >
   <div class="container mx-auto">
      <div class="flex flex-wrap items-center justify-between -mx-4">
         <div class="w-full px-4 lg:w-6/12">
            <div class="flex items-center -mx-3 sm:-mx-4">
               <div class="w-full px-3 sm:px-4 xl:w-1/2">
                  <div class="py-3 sm:py-4">
                     <img
                        src='{% static "base/images/cards/card-01/secondcard.jpeg" %}'
                        alt=""
                        class="w-full rounded-2xl"
                        />
                  </div>
                  <div class="py-3 sm:py-4">
                     <img
                        src='{% static "base/images/cards/card-01/firstcard.jpeg" %}'
                        alt=""
                        class="w-full rounded-2xl"
                        />
                  </div>
               </div>
               <div class="w-full px-3 sm:px-4 xl:w-1/2">
                  <div class="relative z-10 my-4">
                     <img
                        src='{% static "base/images/cards/card-01/thirdcard.jpeg" %}'
                        alt=""
                        class="w-full rounded-2xl"
                        />
                     <span class="absolute -right-7 -bottom-7 z-[-1]">
                        <svg
                           width="134"
                           height="106"
                           viewBox="0 0 134 106"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                           >

                        </svg>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="w-full px-4 lg:w-1/2 xl:w-5/12">
            <div class="mt-10 lg:mt-0">
               <span class="block mb-4 text-lg font-semibold text-primary">
               Почему мы?
               </span>
               <h2
                  class="mb-5 text-3xl font-bold text-dark dark:text-white sm:text-[40px]/[48px]"
                  >
                  С нами ты станешь счастливее!
               </h2>
               <p class="mb-5 text-base text-body-color dark:text-dark-6">
                  Мы самые крутые и надежные продавцы фигурок на рынке потому что мы следим за качеством и хотим быть лучшими в этой сфере.
               </p>
               <p class="mb-8 text-base text-body-color dark:text-dark-6">
                  Фигурки делают жизнь лучше и краше. Они дополняют недостатки и даже достатки любого дизайна. Каждый день они дарят счастье нашим клиентам и если ты еще не наш клиент, самое время им стать!
               </p>
               <a
                  href="javascript:void(0)"
                  class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border border-transparent rounded-md px-7 bg-primary hover:bg-opacity-90"
                  >
               Каталог
               </a>
            </div>
         </div>
      </div>
   </div>
</section>

 <!-- ====== ABOUT US SECTION END-->
{% include 'footer.html' %}

{% endblock %}