<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
    <link

      rel="shortcut icon"
      href='{% static "base/images/favicon.svg" %}'
      type="image/x-icon"
    />

    <link rel="stylesheet" href='{% static "base/css/tailwind.css" %}' />
    <link rel="stylesheet" href="{% static 'base/css/roulette.css' %}">


    <script defer src='{% static "base/js/alpine.min.js" %} '></script>
  </head>

<style>
  header {
  position: fixed;
  top: 0; /* Закрепить заголовок в самом верху страницы */

  z-index: 9999;
}
</style>


{% include 'header.html' %}

{% block content %}




<div class="containerr">
  <h2 class="text-center py-10 text-5xl OurPrizes">Выигрывай бесплатные фигурки!</h2>
  <div class="app">

    <img class="pointer" src="{% static 'base/images/random_cat/pointer3.png' %}" alt=""/>
    <div class="scope">
         <ul class="list">

            </ul>
    </div>


    <button onclick="start()" class="start">Крутить</button>


</div>

    <div class="container mx-auto">
    <p id="attempts-count" class="text-center pt-20 text-2xl OurPrizes">Осталось попыток: {{ attempts }}</p>
  <h2 class="text-center py-32 text-3xl OurPrizes">Наши призы:</h2>

  <div class="-mx-4 flex flex-wrap">
    <!-- ====== First block -->
    <div class="w-1/2 px-4 md:w-1/2 xl:w-1/4 lg:w-1/6">
      <div class="mb-10 overflow-hidden rounded-lg bg-white shadow-1 duration-300 hover:shadow-3 dark:bg-dark-2 dark:shadow-card dark:hover:shadow-3 w-full max-w-[400px]">
        <img src="{% static 'base/images/random_cat/alishka.jpg' %}" alt="image" class="w-full max-w-[400px]">
        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
          <h3 class="mb-4 block text-xl font-semibold text-dark hover:text-primary dark:text-white sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
            Скидка
          </h3>
          <p class="mb-7 text-base leading-relaxed text-body-color dark:text-dark-6">
            Скидка 10% на всё
          </p>
        </div>
      </div>
    </div>

    <!-- ====== Second block -->
    <div class="w-1/2 px-4 md:w-1/2 xl:w-1/4 lg:w-1/6">
      <div class="mb-10 overflow-hidden rounded-lg bg-white shadow-1 duration-300 hover:shadow-3 dark:bg-dark-2 dark:shadow-card dark:hover:shadow-3 w-full max-w-[400px]">
        <img src="{% static 'base/images/random_cat/alishka.jpg' %}" alt="image" class="w-full max-w-[400px]">
        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
          <h3 class="mb-4 block text-xl font-semibold text-dark hover:text-primary dark:text-white sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
            СкидкаX20
          </h3>
          <p class="mb-7 text-base leading-relaxed text-body-color dark:text-dark-6">
            Скидка 20% на всё
          </p>
        </div>
      </div>
    </div>

    <!-- ====== Third block -->
    <div class="w-1/2 px-4 md:w-1/2 xl:w-1/4 lg:w-1/6">
      <div class="mb-10 overflow-hidden rounded-lg bg-white shadow-1 duration-300 hover:shadow-3 dark:bg-dark-2 dark:shadow-card dark:hover:shadow-3 w-full max-w-[400px]">
        <img src="{% static 'base/images/random_cat/alishka.jpg' %}" alt="image" class="w-full max-w-[400px]">
        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
          <h3 class="mb-4 block text-xl font-semibold text-dark hover:text-primary dark:text-white sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
            СкидкаX30
          </h3>
          <p class="mb-7 text-base leading-relaxed text-body-color dark:text-dark-6">
            Скидка 30% на всё
          </p>
        </div>
      </div>
    </div>

    <!-- ====== Fourth block -->
    <div class="w-1/2 px-4 md:w-1/2 xl:w-1/4 lg:w-1/6">
      <div class="mb-10 overflow-hidden rounded-lg bg-white shadow-1 duration-300 hover:shadow-3 dark:bg-dark-2 dark:shadow-card dark:hover:shadow-3 w-full max-w-[400px]">
        <img src="{% static 'base/images/random_cat/figurka.jpg' %}" alt="image" class="w-full max-w-[400px]">
        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
          <h3 class="mb-4 block text-xl font-semibold text-dark hover:text-primary dark:text-white sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
            Фигурка
          </h3>
          <p class="mb-7 text-base leading-relaxed text-body-color dark:text-dark-6">
            Фигурка до 3000р
          </p>
        </div>
      </div>
    </div>

    <!-- ====== Fiveth block -->
    <div class="w-1/2 px-4 md:w-1/2 xl:w-1/4 lg:w-1/6">
      <div class="mb-10 overflow-hidden rounded-lg bg-white shadow-1 duration-300 hover:shadow-3 dark:bg-dark-2 dark:shadow-card dark:hover:shadow-3 w-full max-w-[400px]">
        <img src="{% static 'base/images/random_cat/bigfigurka.jpg' %}" alt="image" class="w-full max-w-[400px]">
        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
          <h3 class="mb-4 block text-xl font-semibold text-dark hover:text-primary dark:text-white sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
            ФигуркаX5
          </h3>
          <p class="mb-7 text-base leading-relaxed text-body-color dark:text-dark-6">
            Фигурка до 5000р
          </p>
        </div>
      </div>
    </div>


</div>



    </div>

</div>



{% endblock %}
<script>
const cells = 31

// From 0.001 to 100
const items = [
  {name: 'Скидка', img: "{% static 'base/images/random_cat/alishka.jpg' %}", chance: 43},
  {name: 'СкидкаX20', img: "{% static 'base/images/random_cat/alishka.jpg' %}", chance: 32},
  {name: 'СкидкаX30', img: "{% static 'base/images/random_cat/alishka.jpg' %}", chance: 15},
  {name: 'Фигурка', img: "{% static 'base/images/random_cat/figurka.jpg' %}", chance: 7},
  {name: 'Фигурка', img: "{% static 'base/images/random_cat/bigfigurka.jpg' %}", chance: 3}
]

function getItem() {
  const totalChance = items.reduce((acc, item) => acc + item.chance, 0);
  let randomNum = Math.floor(Math.random() * totalChance);

  for (const item of items) {
    if (randomNum < item.chance) {
      return item;
    }
    randomNum -= item.chance;
  }
}

function generateItems() {
  document.querySelector('.list').remove()
  document.querySelector('.scope').innerHTML = `
    <ul class="list"></ul>
  `

  const list = document.querySelector('.list')

  for (let i = 0; i < cells; i++) {
    const item = getItem()

    const li = document.createElement('li')
    li.setAttribute('data-item', JSON.stringify(item))
    li.classList.add('list__item')
    li.innerHTML = `
      <img src="${item.img}" alt="" />
    `

    list.append(li)
  }
}

generateItems()

let isStarted = false
let isFirstStart = true

function start() {
  if (isStarted) return
  else isStarted = true

  if (!isFirstStart) generateItems()
  else isFirstStart = false
  const list = document.querySelector('.list')

  setTimeout(() => {
    list.style.left = '50%'
    list.style.transform = 'translate3d(-50%, 0, 0)'
  }, 0)

  const item = list.querySelectorAll('li')[15]

  list.addEventListener('transitionend', () => {
    isStarted = false
    item.classList.add('active')

    const data = JSON.parse(item.getAttribute('data-item'));
    console.log(data); //выводит словарь {"f":"ff"}

    // тут написан AJAX запрос в наш сервер чтобы сохранить выпавший в рулетке бонус
    fetch('save_bonus/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': "{{ csrf_token }}",
      },
      body: JSON.stringify(data),
    }).then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert('Ваш приз: ' + data.prize);
        } else if (data.status === 'No spin attempts left') {
            alert('У вас больше нет попыток.');
        }

        // Обновляем количество попыток на странице
        document.getElementById('attempts-count').innerText = `Осталось попыток: ${data.attempts}`;
    })
    // .then(response => response.json())
    // .then(data => console.log(data))
    .catch(error => console.error('Error:', error));


  }, {once: true})
}






</script>






{% include 'footer.html' %}

