<!DOCTYPE html>


{% extends 'base.html' %}
{% load static %}


{% block content %}

{% include 'header.html' %}

<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover">

    <div class="flex items-center lg:h-screen flex-wrap mx-auto my-32 lg:my-0" style="min-height: 90vh;">
        <!-- Тут будут твои товары -->
        <div class="max-w-md mx-auto bg-white rounded-lg shadow-lg p-6">
            <h2 class="text-2xl text-gray-800 font-semibold mb-4">Your Cart Items</h2>
            <ul class="divide-y divide-gray-300">
                {% for item in cart_items %}
                <li class="flex justify-between items-center py-2">
                    <span class="text-gray-800">{{ item.quantity }} x {{ item.product.name }}</span>
                </li>
                {% empty %}
                <li class="text-gray-500">Your cart is empty</li>
                {% endfor %}
            </ul>
        </div>
    </div>


{% include 'footer.html' %}

{% endblock %}